---
---

/* CSS Styles are defined below */
body {display:flex;flex-direction:column;text-align:center;}
h1 {background:purple;
  color: yellow; }
  
header {background:blue;color:orange;}
footer {background:green;color:red;}
  